<%- include ('./partials/header.ejs') %>

<body>
    <%- include ('./partials/navbar.ejs') %>
    <section class="card">
        <label for="lastTitle" class="card-text">Ultimo Título:</label>
        <h4 class="card-title"><%= task.title %></h4>
        <label for="lastDesc" class="card-text">Ultima Descrição:</label>
        <h4 class="card-title"><%= task.description %></h4>
    </section>
    <form action="/editedTask/<%= task._id %>" method="post" class="form-control">
        <label for="newTitle">Novo Título:</label>
        <input type="text" name="newTitle"  class="form-control" required>
        <br>
        <label for="newDesc">Novo Descrição:</label>
        <input type="text" name="newDesc"  class="form-control" required>

        <button type="submit" class="btn btn-success">SALVAR</button>
    </form>
</body>
<%- include ('./partials/footer.ejs') %>