<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <header>
        <a href="/addTasks" class="btn btn-success">CRIAR TAREFA</a>
    </header>
        <section class="container">
            <% tasks.forEach(task =>{ %> 
            <article  class="card">
                <h4 class="card-body"><%= task.title %></h4>
                <p><%= task.description %></p>
                <div id="buttons-form-task" class="card-footer">
                    <form action="/deleteTask/<%= task.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">EXCLUIR</button>
                    </form>
                    <form action="/editTask/<%= task.id %>" method="get">
                        <button type="submit" class="btn btn-primary">EDITAR</button>
                    </form>
                </div>
            </article>
            <% }); %>

        </section>
            
  
</body>

<%- include ('./partials/footer.ejs') %>